

body{
  margin : 30px;
  padding : 30px;
  background-color: black;
  color: white;
  /*border: 2px solid red;*/
}


h1{
  /*display: block;*/
  text-align: center;
  font-style: oblique;
  font-size: 90px;
  padding: 0px;
  margin: 0px;
}

.hearts{
  font-size: 10px;
}
.header_container{
  display: inline-block;
  font-size: 15px;
  text-align: center;
  max-width: 800px;
  position: absolute;
  left: 20%;
  /*border: 2px solid red;*/
}
#game_container{
  position: absolute;
  top: 130%;
  left: 30%;
  margin: 20px;
  padding: 20px;
}

.box{
  display: inline-block;
  height: 100px;
  width: 100px;
  display: inline-block;
  /*border: 2px solid white;*/
  vertical-align : top;
}

#row11, #row21, #row31, #row12, #row22, #row32{
  border-right: 6px solid rgba(255,255,255,0.7);

}

#row2, #row3{
  border-top: 6px solid white;

}


.box:hover{
  background: rgba(0, 0, 0, 0.4);
}


.footer {
  font-size: 5px;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
